<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="courses" value="../../../SampleFiles/courses.txt"/>
    <add key="students" value="../../../SampleFiles/students.txt"/>

    <add key="save_files" value="false"/>
    <add key="output_path" value="C:\"/>
    <add key="mutation_rate" value="80"/>
    <add key="generations" value="2000"/>
    <add key="individuals" value="100"/>
    <add key="cant_opt" value="3"/>
    <add key="keep_best" value="true"/>
    <add key="open_folder" value="true"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
